/* 🕊️🕊️🕊️🕊️🕊️🕊️🕊️WHOLE WEBSITE🕊️🕊️🕊️🕊️🕊️🕊️🕊️🕊️ */
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */
.header {
  padding: 20px;
  background-color: #f8f9fa; 
}
.header h1 {
  color: black;
  margin-bottom: 0;
  font-size: 2.5em;
}
.header-link {
  text-decoration: none;
  color: inherit;
}
.header h2 {
  margin-top: 0;
  font-size: 1.2em;
  color: #6c757d;
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #e9ecef;
}
.navbar a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  margin-left: 10px;
}
.navbar a:hover {
  font-style: italic;
  background: linear-gradient(#d2bcfb, #d2bcfb) no-repeat;
  background-size: 100% 40%;
  background-position: 0 85%;
}

/* FOOTER */
.footer {
  /* border: 1px solid black; */
  background: #e9ecef;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.left-align {
  display: flex;
  flex-direction: column;
}
/* 🕊️🕊️🕊️🕊️🕊️🕊️🕊️🕊️🕊️🕊️🕊️🕊️🕊️🕊️🕊️ */


/* 🕊️🕊️🕊️🕊️🕊️🕊️🕊️IMPACT PAGE🕊️🕊️🕊️🕊️🕊️🕊️🕊️🕊️ */
.statement-box {
  display: flex;
  justify-content: center;
}
.statement {
  padding: 10px;  
  margin-bottom: 0;
  font-size: 1.5em;
  width: 80%;
}
.subtitle {
  font-size: 2.3em;
  text-align: center;
  /* border: 1px solid black; */
}
.video {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.video iframe {
  border-radius: 10px;
  border: 1px solid black;
  box-shadow:
    0 0 10px 5px rgba(210, 188, 251, 0.7),
    0 0 20px 10px rgba(210, 188, 251, 0.7),
    0 0 30px 15px rgba(210, 188, 251, 0.7);
}
.video-explanation {
  font-size: 1.0em;
  text-align: left;
  width: 620px;
  margin-top: 25px;
  font-weight: 600;
}
/* READ SECTION */
.read {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.read-content {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}
.read-box {
  /* border: 1px solid orange; */
  display: flex;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -10px;
}
.read-text {
  text-align: center;
  margin-top: -10px;
}
/* .read-link:hover {
  font-style: italic;
  background: linear-gradient(#681af9, #d2bcfb) no-repeat;
  background-size: 50% 50%;
  background-position: 50% 100%;
} */
.read-text:hover {
  font-style: italic;
  background: linear-gradient(#d2bcfb, #d2bcfb) no-repeat;
  background-size: 50% 50%;
  background-position: 50% 100%;
}
.read-images {
  /* height: 500px; */
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.read-images:hover {
  opacity: 0.8;
}
.read-images:focus {
  outline: none;
}



/* RESPONSIVE DESIGN: MOBILE */
@media screen and (max-width: 768px) {
  .header {
    padding: 10px;
  }
  .header h1 {
    font-size: 1.8em;
  }
  .header h2 {
    font-size: 1em;
  }
  .navbar {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .navbar a {
    text-align: center;
    font-size: 1.0em;
    /* border: 1px solid black; */
    padding: 0 0px;
    margin: 0 0px; /* 0 top/bottom, 0px left/right */
  }
  .statement {
    font-size: 1em;
    width: 100%;
  }
  .subtitle {
    font-size: 2.3em;
  }
  .video {
    width: 100%;
  }
  .video iframe {
    width: 95%;
  }
  .video-explanation {
    font-size: 0.7em;
    text-align: left;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
  }
  .read-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .read-box {
    justify-content: center;
    width: 90%;
    margin-bottom: 20px;
  }
  .read-text {
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
  .read-images {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow:
      0 0 8px 3px rgba(0, 0, 0, 0.5);
  }
}

